<div>
  <div>
    <h2>Find by Speciality</h2>
    <p>
      Simply browse through our extensive list of trusted doctors,
      <br />
      schedule your appointment hassle-free.
    </p>
  </div>
  <ul>
    <li>
      <img src="" alt="" />
      <p>Heart Health</p>
    </li>
    <li>
      <img src="" alt="" />
      <p>Bones & Joints</p>
    </li>
    <li>
      <img src="" alt="" />
      <p>Eye Care</p>
    </li>
    <li>
      <img src="" alt="" />
      <p>Dental Care</p>
    </li>
    <li>
      <img src="" alt="" />
      <p>Brain & Nerves</p>
    </li>
    <li>
      <img src="" alt="" />
      <p>Children's Health</p>
    </li>
  </ul>
</div>
