<div class="flex flex-col justify-between items-center gap-y-5 overflow-hidden">
  <div class="flex justify-center items-center flex-col gap-y-3">
    <img class="w-15 h-15 rounded-full bg-dark" [src]="logo" alt="" />
    <h2 class="text-xl font-semibold">
      {{ authView() === 'signin' ? 'Sign in' : 'sign up' }} to MediaFlow
    </h2>
  </div>

  <div class="w-full sm:w-[50%] p-[20px]">
    <form
      [formGroup]="userForm"
      (ngSubmit)="submit()"
      class="p-[20px] w-full flex flex-col gap-y-5"
    >
      <div class="flex flex-col gap-y-[5px]">
        <label class="text-lg font-medium" for="em">Email</label>
        <input
          class="border outline-0 w-full sm:w-[30vw] p-[5px]"
          [ngClass]="
            email?.touched && email?.invalid && email?.dirty ? 'border-danger' : 'border-sky-300'
          "
          type="text"
          id="em"
          formControlName="email"
        />
        @if (email?.touched && email?.invalid && email?.dirty) {
          @if (email?.getError('required')) {
            <div class="text-danger">Email is required</div>
          } @else if (email?.getError('email')) {
            <div class="text-danger">Email is invalid</div>
          }
        }
      </div>
      <div class="flex flex-col gap-y-[5px]">
        <label class="text-lg font-medium" for="ps">Password</label>
        <input
          [ngClass]="
            password?.touched && password?.invalid && password?.dirty
              ? 'border-danger'
              : 'border-sky-300'
          "
          class="border outline-0 w-full sm:w-[30vw] p-[5px]"
          type="text"
          id="ps"
          formControlName="password"
        />
        @if (password?.touched && password?.invalid && password?.dirty) {
          @if (password?.getError('required')) {
            <div class="text-danger">password is required</div>
          } @else if (password?.getError('pattern') || password?.getError('maxlength')) {
            <div class="text-danger">password is invalid</div>
          } @else if (password?.getError('minlength')) {
            <div class="text-danger">Enter a strong password</div>
          }
        }

        @if (authView() === 'signin') {
          <p class="text-secondary">
            New to MediaFlow?
            <span (click)="update('signup')" class="text-primary cursor-pointer"
              >Create an account</span
            >
          </p>
        } @else if (authView() === 'signup') {
          <p class="text-secondary">
            Already have an account?<span
              (click)="update('signin')"
              class="text-primary cursor-pointer"
            >
              Sign in →</span
            >
          </p>
        }
      </div>

      @if (authView() === 'signup') {
        <div class="flex flex-col gap-y-[5px]">
          <label class="text-lg font-medium" for="fn">Username</label>
          <input
            [ngClass]="
              name?.touched && name?.invalid && name?.dirty ? 'border-danger' : 'border-sky-300'
            "
            class="border outline-0 w-full sm:w-[30vw] p-[5px]"
            type="text"
            id="fn"
            formControlName="name"
          />
          @if (name?.touched && name?.invalid && name?.dirty) {
            @if (name?.getError('required')) {
              <div class="text-danger">Name is required</div>
            } @else if (
              name?.getError('pattern') ||
              name?.getError('maxlength') ||
              name?.getError('minlength')
            ) {
              <div class="text-danger">Name is invalid</div>
            }
          }
        </div>
      }

      <button
        [disabled]="userForm.invalid"
        [ngClass]="userForm.invalid ? 'cursor-not-allowed' : 'cursor-pointer'"
        class="bg-green-500 font-semibold p-2 text-[3vw] sm:text-lg w-full sm:w-[30vw] text-white"
      >
        {{ authView() === 'signin' ? 'Sign In' : 'Sign Up' }}
      </button>
    </form>
  </div>
</div>
