<footer class="">
  <div class="flex gap-4 flex-col lg:flex-row">
    <!--start logo -->
    <div class="overflow-hidden w-full lg:w-[50%] flex flex-col">
      <div class="overflow-hidden w-full h-30">
        <img
          class="w-full h-full object-cover bg-sky-400 hover:bg-primary"
          [src]="logo"
          alt="mediaFlow Logo"
        />
      </div>

      <div class="text-secondary text-center p-4">
        mediaFlow: Your Gateway to Digital Health. Leading the way in smart doctor-patient
        connections and healthcare management solutions.
      </div>
    </div>
    <!--start sections -->
    <div class="w-full lg:w-[50%] flex flex-col md:flex-row">
      <section class="w-full lg:w-[50%] text-center">
        <h2 class="text-dark font-medium mb-6">COMPANY</h2>
        <ul class="flex flex-col gap-y-4">
          <li class="text-secondary">Home</li>
          <li class="text-secondary">About us</li>
          <li class="text-secondary">Contact</li>
          <li class="text-secondary pb-4">Privacy policy</li>
        </ul>
      </section>
      <section class="w-full lg:w-[50%] text-center">
        <h2 class="text-dark font-medium mb-6">GET IN TOUCH</h2>
        <p class="pb-4 text-secondary">01000000000</p>
        <p class="text-dark font-medium mb-6">mediaFlow@gmail.com</p>
      </section>
    </div>
    <!--end sections -->
  </div>
  <footer class="py-4 bg-primary text-center text-white font-bold">
    Copyright © 2026 MediaFlow - All Right Reserved.
  </footer>
</footer>
