<nav class="h-15 fixed top-0 left-0 right-0 z-50">
  <div class="flex items-center justify-between h-full mx-4 sm:mx-[5%] py-5 bg-[#eee]">
    <div class="flex items-center gap-6 justify-between lg:justify-start w-[55%]">
      <!--  start ul + -->

      <ul class="hidden lg:flex items-center gap-x-8 sm:order-1 capitalize text-lg">
        @for (link of links; track $index) {
          <li
            class="cursor-pointer hover:text-sky-300"
            routerLinkActive="text-primary  font-bold"
            [routerLink]="['/', link]"
          >
            {{ link }}
          </li>
        }
      </ul>
      <!-- logo image -->

      <div class="hidden md:block cursor-pointer bg-sky-400 hover:bg-primary" routerLink="/home">
        <img [src]="logo" alt="" class="block size-12" />
      </div>
      <!-- start menu -->
      <div class="lg:hidden -order-1">
        <fa-icon class="lg:hidden w-8" [icon]="bars"></fa-icon>
      </div>
      <!-- end menu -->
      <!--  end sm screen + -->
    </div>

    <div class="flex gap-3">
      <!-- <button
        class="sm:text-xs md:text-lg text-white font-semibold py-2 px-4 bg-primary rounded-full"
      >
        Sign in
      </button> -->

      <button
        class="bg-sky-400 hover:bg-primary text-white font-semibold text-xs px-3 py-1.5 md:text-lg md:px-6 md:py-2 shrink-0 whitespace-nowrap"
      >
        Sign in
      </button>

      <button
        class="hidden lg:block bg-red-400 hover:bg-danger text-white font-semibold text-xs px-3 py-1.5 md:text-lg md:px-6 md:py-2 shrink-0 whitespace-nowrap"
      >
        Sign up
      </button>
    </div>
  </div>
</nav>
